.change-date {
    grid-row: 2/3;
    grid-column: 4/5;
    justify-self: start;

    font-size: 22px;
    font-weight: 100;
    line-height: 19px;
    text-align: center;
    color: white;
    font-family: $font-roboto;

    background-color: transparent;
    border: none;

    transform: rotate(-70deg) translate(-100px, -135px);
    width: 300px;

    &:focus {
        outline: none;
    }

    i {
        margin-right: 10px;
    }
    
}